<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    
    <!-- Sandbox Credentials -->
    <add key="sandbox.data_source" value=""/>
    <add key="sandbox.initial_catalog" value=""/>
    <add key="sandbox.user_id" value=""/>
    <add key="sandbox.password" value=""/>
    
  </appSettings>
</configuration>